.discover-ideas__title {
    margin-bottom: 30px;
}

.discover-ideas__item {
    margin: .9%;
    width: 31.33%;
}

.discover-ideas__img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}
