.footer {
    padding-top: 35px;
}

.footer__wrap {
    position: relative;
    display: flex;
    justify-content: flex-start;
}

.footer__logo {
    margin-right: 45px;
    margin-left: 30px;
}

.footer__nav {
    margin: 0 50px;
}

.footer__nav-item {
    margin: 8px 0;
}

.footer__designed {
    position: absolute;
    top: -5px;
    right: 28px;
    text-align: right;
}
