.header__wrap {
    position: relative;
    height: 700px;
    text-align: center;
}

.header__sign-in {
    position: absolute;
    top: 40px;
    right: 40px;
}

.header__logo {
    position: absolute;
    top: 45px;
    left: 40px;
}

.header__offer {
    padding: 215px 15% 0;
    font-size: 50px;
}

.header__offer_thin {
    margin: 25px 0 35px;
    font-size: 22px;
}

.header__find-partner {
    width: 230px;
}
