.h-it-w__title {
    margin-top: 90px;
    margin-bottom: 35px;
}

.h-it-w__wrap {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.h-it-w__section {
    width: 236px;
}

.h-it-w__step {
    height: 400px;
}
