.h-it-w__title {
    margin: 20px;
}

.h-it-w__wrap {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.h-it-w__step {
    width: 236px;
    height: 400px;
    background: auto 100% no-repeat;
}
