.partners {
    margin: 70px 0;
}

.partners__wrap {
    padding: 0 100px;
    height: 570px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.partners__link {
}
