.search-partners {
    margin-bottom: 90px;
}

.search-partners__subtitle {
    margin: 30px 0 25px;
}

.search-partners__input {
    width: 210px;
}

.search-partners__btn {
    width: 160px;
}
