.discover-ideas__grid {
    margin: 0 auto;
}

.discover-ideas__grid::after {
    content: '';
    display: block;
    clear: both;
}

.grid-sizer {
    width: 220px;
}

.discover-ideas__item {
    margin: 10px 0;
    width: 200px;
}

.discover-ideas__img {
    width: 200px;
    border: 2px solid grey;
}

.discover-ideas__word {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $color-white;
}

.img {
    margin: 10px 0;
    width: 300px;
    border: 1px solid;
}
