.discover-ideas__title {
    margin: 30px 0 20px;
    padding: 0 10px;
    text-align: center;
    @include font-family-Montserrat(700, 22px);
}

.discover-ideas__grid::after {
    content: '';
    display: block;
    clear: both;
}

.discover-ideas__item {
    display: block;
    margin-bottom: 10px;
}

.discover-ideas__img {
    display: block;
    margin: 0 auto;
}

.discover-ideas__word {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: $color-white;
}
