.footer {
    margin-bottom: 50px;
    border-top: 5px solid $color-pink;
}

.footer__logo {
    @include font-family-Montserrat(700, 16px);
    color: $color-pink;
}

.footer__nav-title {
    @include font-family-Montserrat(700, 14px);
}

.footer__nav-item {
    @include font-family-Roboto(300, 14px);
    color: $color-dark-grey;
}

.footer__designed-text {
    @include font-family-Montserrat(700, 10px);
    text-transform: uppercase;
    color: $color-light-grey;
}

.footer__designed-logo {
    display: block;
    margin: 0 auto;
}
