.header {
    background: fixed #000 url($image_dir + 'h-bg.jpg') 50% 50%;
    background-size: cover;
    color: $color-white;
}

.header__link {
    border-color: transparent;
    background: transparent;

    &:hover {
        border: 2px solid $color-white;
    }
}

.header__logo {
    @include font-family-Montserrat;
    color: $color-white;
}

.header__offer {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
}

.header__offer_thin {
    display: block;
    text-transform: none;
    @include font-family-Roboto(300, 18px);
}

.header__find-partner {
    display: inline-block;
}
