.wrap {
    margin: 0 auto;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

.header {
    background: #000 url($image_dir + 'h-bg.jpg') fixed;
    color: $color-white;
}

.header__link {
    border-color: transparent;
    background: transparent;

    &:hover {
        border: 2px solid $color-white;
    }
}

.header__logo {
    color: $color-white;
}

.header__offer {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
}

.header__offer-thin {
    display: block;
    @include font-family-Roboto(300, 18px);
    text-transform: none;
}

.btn-find-partner {
    border-color: $color-pink;
    background: $color-pink;

    &:hover {
        border-color: $color-white;
    }
}
