.h-it-w {
    color: $color-white;
}

.h-it-w__section {
    width: 300px;
}

.h-it-w__title {
    display: block;
    margin: 10px 0;
    text-align: center;
    @include font-family-Montserrat(700, 22px);
    color: #000;
}

.h-it-w__step {
    position: relative;
    padding: 20px 22px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000;

    &.h-it-w__step-1 {
        background-image: url($image_dir + 'h-it-w-1.jpg');
    }

    &.h-it-w__step-2 {
        background-image: url($image_dir + 'h-it-w-2.jpg');
    }

    &.h-it-w__step-3 {
        background-image: url($image_dir + 'h-it-w-3.jpg');
    }
}

.h-it-w__step-numb {
    width: 70px;
    padding: 2px 7px;
    @include font-family-Montserrat(400, 10px);
}

.h-it-w__step-title {
    margin: 14px 0 10px;
    font-size: 22px;
}

.h-it-w__step-paragraph {
    @include font-family-Roboto(300, 14px);
}
