.h-it-w {
    color: $color-white;
}

.h-it-w__title {
    margin: 10px 0;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    color: #000;
}

.h-it-w__step {
    font-weight: 300;

    &.h-it-w__step-1 {
        background: #000 url($image_dir + 'h-it-w-1.jpg');
    }

    &.h-it-w__step-2 {
        background: #000 url($image_dir + 'h-it-w-2.jpg');
    }

    &.h-it-w__step-3 {
        background: #000 url($image_dir + 'h-it-w-3.jpg');
    }
}

.h-it-w__step-numb {
    padding: 5px;
    border-radius: 10px;
    font-size: 10px;
    background: #ff4e50;
}

.h-it-w__article-title {
    @include font-family-Montserrat(700, 24px);
}

.h-it-w__article-paragraph {
    @include font-family-Roboto(300, 14px);
}
