body {
    @include font-family-Montserrat;
    box-sizing: border-box;
}

.wrap {
    margin: 0 auto;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

@import "_btn";
@import "_header";
@import "_how-it-works";
@import "_partners";
@import "_discover-ideas";
@import "_search-partners";
@import "_footer";
