.partners {
    text-align: center;
}

.partners__title {
    @include font-family-Montserrat(700, 22px);
}

.partner {
    width: 230px;
    text-align: center;
}

.partner__photo {
    border-radius: 50%;
}

.partner__name {
    margin: 10px 0;
    @include font-family-Montserrat(700, 14px);
}

.partner__info {
    width: 230px;
    margin: 0 auto;
    @include font-family-Roboto(300, 14px);
    color: $color-light-grey;
}

.partners__link {
    display: inline-block;
    width: 278px;
    background: transparent;
    color: $color-pink;
}
