.partners {
    text-align: center;
}

.partners__title {
    font: 700 22px $main-font, sans-serif;
}

.partner {
    margin: 10px auto 25px;
    width: 230px;
    text-align: center;
}

.partner__photo {
    border-radius: 50%;
}

.partner__name {
    margin: 10px 0;
    font: 700 14px $main-font, sans-serif;
}

.partner__info {
    width: 230px;
    margin: 0 auto;;
    font: 300 14px $secondary-font, sans-serif;
    color: #8f8f8f;
}

.partners__link {
    display: inline-block;
    width: 278px;
    background: transparent;
    color: $color-pink;
}
