.search-partners {
    margin: 40px 0;
    text-align: center;
}

.search-partners__title {
    @include font-family-Montserrat(700, 22px);
}

.search-partners__subtitle {
    @include font-family-Roboto(300);
    color: $color-dark-grey;
}

.search-partners__input {
    margin: 10px 0;
    padding: 4px 15px;
    width: 250px;
    height: 30px;
    border: 1px solid $color-light-grey;
    border-radius: 5px;
    @include font-family-Roboto(300, 14px);
    color: #000;
}

.search-partners__btn {
    width: 280px;
    height: 40px;
    line-height: 14px;
    outline: 0;
}
