.header__wrap {
    height: 540px;
    text-align: center;
}

.header__sign-in {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header__logo {
    display: block;
    margin: 110px 0 22px;
}

.header__offer_thin {
    margin: 10px 50px;
}

.header__find-partner {
    width: 280px;
}
